<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.test.baseManage.testSystem.mapper.TestSystemMapper">

    <select id="selectTestSystemPage" resultType="com.king.test.baseManage.testSystem.entity.TTestSystem">
        SELECT 
            ts.SYSTEM_ID,
            ts.SYSTEM_NAME,
            ts.ORG_ID,
            ts.SYSTEM_TYPE,
            ts.SYSTEM_STAGE,
            ts.IS_USE,
            ts.SYSTEM_DESCRIPTION,
            ts.CREATOR_ID,
            ts.CREATE_TIME,
            ts.MENDER_ID,
            ts.MODIFY_TIME,
            ts.PLAN_START_TIME,
            ts.PLAN_END_TIME,
            ts.ACTUAL_START_TIME,
            ts.ACTUAL_END_TIME,
            ts.SYSTEM_TEST_MANAGER_ID,
            ts.SYSTEM_DEV_MANAGER_ID,
            ts.CHANGE_HISTORY,
            o.ORG_NAME,
            tmu.USER_NAME as testManagerName,
            dmu.USER_NAME as devManagerName
        FROM t_test_system ts
        LEFT JOIN t_sys_org o ON ts.ORG_ID = o.ORG_ID
        LEFT JOIN t_sys_user tmu ON ts.SYSTEM_TEST_MANAGER_ID = tmu.USER_ID
        LEFT JOIN t_sys_user dmu ON ts.SYSTEM_DEV_MANAGER_ID = dmu.USER_ID
        <where>
            AND ts.IS_USE = '1'
            <if test="systemName != null and systemName != ''">
                AND ts.SYSTEM_NAME LIKE CONCAT('%', #{systemName}, '%')
            </if>
            <if test="orgId != null and orgId != ''">
                AND ts.ORG_ID = #{orgId}
            </if>
            <if test="systemType != null and systemType != ''">
                AND ts.SYSTEM_TYPE = #{systemType}
            </if>
            <if test="systemStage != null and systemStage != ''">
                AND ts.SYSTEM_STAGE = #{systemStage}
            </if>
            <if test="testManagerName != null and testManagerName != ''">
                AND tmu.USER_NAME LIKE CONCAT('%', #{testManagerName}, '%')
            </if>
            <if test="devManagerName != null and devManagerName != ''">
                AND dmu.USER_NAME LIKE CONCAT('%', #{devManagerName}, '%')
            </if>
        </where>
        ORDER BY ts.CREATE_TIME DESC, ts.SYSTEM_ID ASC
    </select>

</mapper>
